<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Plus500 Suite">
    <test name="EndToEnd Test">
        <classes>
            <class name="com.plus500.automation.tests.RegistrationFlowTest"/>
            <class name="com.plus500.automation.tests.NavigationTest"/>
        </classes>
    </test>
</suite>